<!DOCTYPE html>
<html>
<head>
  <title>LocatorBackend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= google_maps_api %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
